<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Sign in</title>
</head>
<body>
    <div id="app">

        <!-- Nav -->
        <nav-bar></nav-bar>

        <div class="container">
            <div class="imgcontainer" style="margin-top: 2em">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-6" style="margin-left:2em">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="avatar" src="images/login.png">
                                <h2>Member Login</h2>
                                <form :action="link" class="form" @submit="validate()">
                                    <div class="form-group">
                                            <label class="label control-label">User name</label>
                                            <input type="text" class="form-control" name="username" placeholder="Username" v-model="username">
                                    </div>
                                    <div class="form">
                                            <label class="label control-label">Password</label>
                                            <input type="password" class="form-control" name="password" placeholder="Password" v-model="password">
                                    </div>

                                    <button class="btn btn-primary form-control mt-3" type="submit">Sign in</button>
                            </form>
                                <a href="#"></a><div style="margin-top: 1em"><p>Forgot Password ?</p></div></a>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="col-md-12">
                                        <p style="text-align:center;margin-top: em">
                                                Don't have an account? Sign up!
                                        </p>
                                        <button type="button" class="btn btn-primary btn-lg btn-block">Log in with Facebook</button>
                                        <button type="button" class="btn btn-primary btn-lg btn-block">Log in with Twitters</button>
                                        <button type="button" class="btn btn-primary btn-lg btn-block">Log in with Google++</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- import js file -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./components/movie.js"></script>
        <script src="./components/nav-bar.js"></script>
        <script src="./components/carousel-tag.js"></script>
            <!-- VueJs -->
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                username:"",
                password:"",
                link:""
            },
            methods: {
                validate(){
                    if(localStorage.getItem("username") == this.username && localStorage.getItem("password") == this.password){
                        this.link="./index.html"
                        localStorage.username = this.username
                        localStorage.password = this.password
                        localStorage.isLogin = true
                    }
                    else{
                        alert("Username or Password not correct!!")
                        localStorage.setItem("username") = localStorage.getItem("username")
                        localStorage.setItem("password") = localStorage.getItem("password")
                        this.link="./signin.html"
                        localStorage.isLogin = false
                    }
                }
            },
        })
    </script>

</body>
</html>