@import url('https://fonts.googleapis.com/css?family=Prompt');
body{
    background-color: rgb(245,247,251);
}
.font{
    font-family: 'Prompt', sans-serif;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 60px;
    color: white;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 60px;
    color: white;
}

.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}

.category-btn {
    border: 1px solid black;
}

.category-btn:hover {
    border: 0;
    background-color: grey;
    color: white;
}
.color{
    border: 0;
    background-color: grey;
    color: white;
}
.btn-queue:hover{
    background-color: rgb(57, 61, 65);
    color:white;
}

.btn-queue-color{
    background-color: rgb(57, 61, 65);
    color:white;
}